<h1>Stupid Coaching</h1>

<div class="dialog">
  <p class="question"><%= @question %></p>
  <p class="person">-You</p>
</div>

<div class="dialog">
  <p class="answer"><%= @answer %></p>
  <p class="person">-Your coach</p>
</div>

<%= link_to "Ask a new question", ask_path%>
